/* clear default */

html, body, h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00a18a;
}

/* common */

.vertical-center {
  display: flex;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: 'Times New Roman', cursive
}

.container {
  width: 90%;
  max-width: 1200px;
  min-width: 320px;
}

.content {
  width: 100%;
  display: flex;
}

/* left aside */

.left-aside {
  width: 17%;
  margin-right: 40px;
  min-width: 175px;
}

.left-aside .logo {
  width: 100px;
  height: 100px;
  padding: 0 20% 50px 0;
}

.left-aside .nav .nav-item {
  display: flex;
  margin-bottom: 10px;
}

.nav-item a {
  font-style: italic;
}

.left-aside .iconfont {
  font-size: 2em;
  margin-right: 10px;
}

.left-aside .aside-section {
  margin-top: 20px;
  color: #333333;
}

.left-aside .aside-section .aside-section-title {
  border-bottom: 1px dashed #e5e5e5;
  font-size: 0.8em;
  font-weight: normal;
  padding: 5px 0;
}

.left-aside .aside-section .aside-section-content {
  margin-top: 10px;
  font-size: 0.7em;
  line-height: 1.8em;
}

.left-aside .aside-section .aside-section-button {
  width: 100%;
  margin: 15px 0;
  background: none;
  color: #00a18a;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  font-style: italic;
  font-size: 0.6em;
}

/* content */

.right-content .show-window {
  display: flex;
  flex-direction: column;
}

.show-window .hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 450px;
  background: url(../../resources/foodsense.jpg) no-repeat;
  background-size: cover;
}

.show-window .hero .hero-image {
  width: 100%;
  display: none;
}

.show-window .hero h1 {
  box-sizing: border-box;
  margin-top: 300px;
  background-color: white;
  padding: 10px 3%;
  font-size: 1.5em;
  font-style: italic;
}

.show-window .hero .subtitle {
  box-sizing: border-box;
  background-color: black;
  color: white;
  padding: 10px 3%;
  font-size: 1em;
  font-style: italic;
}

.show-window .hero .photoBy {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, .5);
  font-size: 0.3em;
  padding: 5px 10px;
  color: #555555;
}

.show-window .highlights {
  display: flex;
}

.highlights .highlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  width: 25%;
  height: 80px;
  background-color: #eff8f7;
  border-left: 1px solid white;
  border-right: 1px solid #daefec;
  color: #3bab98;
}

.highlights .selected {
  background-color: #daefec;
}

.highlight .highlight-title {
  font-size: 1em;
}

.highlight .highlight-content {
  font-size: 0.7em;
  font-style: italic;
}

.right-content .notice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
  margin-top: 30px;
}

.right-content .notice .iconfont {
  font-size: 2em;
  margin: 1% 2%;
}

.notice .notice-content {
  font-size: 0.8em;
  width: 50%;
}

.notice .email {
  width: 30%;
  height: 1.5em;
}

.notice .subscribe {
  margin: 1%;
}

.posts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.posts .post {
  width: 23%;
  display: flex;
  flex-direction: column;
}

.post .post-image {
  max-width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
}

.post .post-title {
  color: #3bab98;
  padding: 10px 0;
  font-size: 1.1em;
}

.post .post-content {
  padding: 10px 0;
  font-size: 0.9em;
}

.post .post-date-and-link {
  display: flex;
}

.post .post-date {
  color: #aaaaaa;
  font-size: 0.8em;
}

.post .read {
  font-size: 0.8em;
  border-bottom: 1px dashed #e5e5e5;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-top: 50px;
  border-top: 2px solid #e3e3e3;
}

footer .links {
  display: flex;
}

footer .footer-link {
  font-size: 0.8em;
  border-left: 1px solid #b1b1b1;
  padding: 0 10px;
}

footer .footer-link:first-child {
  border-left: none;
  padding-left: 0;
}

footer .copy-right {
  font-size: 0.7em;
  color: #9b9b9b;
}

footer .iconfont {
  font-size: 2em;
  color: #999999;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .content {
    flex-direction: column;
  }

  .left-aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
  }

  .left-aside .logo {
    padding: 0;
  }

  .left-aside .nav {
    display: flex;
    flex-direction: row;
  }

  .left-aside .nav .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .left-aside .iconfont {
    font-size: 1.3em;
    margin: 5px 0;
  }
  .left-aside a {
    font-size: 0.8em;
  }

  .left-aside .aside-section {
    display: none;
  }

  .highlights .highlight {
    align-items: center;
    padding: 10px 0;
    height: auto;
  }

  .highlight .highlight-title {
    font-size: 0.8em;
  }

  .highlight .highlight-content {
    display: none;
  }
}

@media screen and (max-width: 480px) {


  .left-aside {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .left-aside .logo {
    order: 2;
    margin: 20px 0;
  }

  .left-aside .nav {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
  }

  .left-aside .iconfont {
    display: none;
  }

  .show-window {
    margin: 0 10%;
  }

  .show-window .hero {
    background: none;
    height: auto;
  }

  .show-window .hero .hero-image {
    display: block;
  }

  .show-window .hero h1 {
    margin-top: 0;
    width: 100%;
    max-width: 100%;
    font-size: 1em;
  }

  .show-window .hero .subtitle {
    width: 100%;
    font-size: 0.7em;
  }

  .show-window .hero .photoBy {
    bottom: -25px;
  }

  .show-window .highlights {
    display: none;
  }

  .notice {
    margin: 10%;
    padding: 20px 0;
    flex-wrap: wrap;
  }

  .notice .iconfont {
    align-self: flex-start;
  }

  .notice .notice-content {
    width: 75%;
    font-size: 0.6em;
    padding: 10px 10px;
  }

  .notice .email {
    width: 60%;
  }

  .posts {
    flex-direction: column;
    align-items: center;
  }

  .posts .post {
    width: 70%;
    padding: 15px 0;
  }

  footer {
    margin: 0 10%;
  }

  footer .footer-link {
    font-size: 0.6em;
    padding: 0 4px;
  }

  footer .copy-right {
    font-size: 0.6em;
  }

  footer .iconfont {
    font-size: 1em;
  }
}